---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Udbhav Saxena">
  <main>
    <h1>Udbhav Saxena</h1>

    <div class="container">
      <div>
        <img src="/assets/images/home/me.jpg" alt="A picture of me (Udbhav)" />
      </div>

      <div class="text">
        <p class="instructions">
          I'm a sophomore studying CS at Michigan State University. I like exploring
          cybersecurity, app development, functional programming, working with
          graphics & media and also music production.
        </p>
        <p>
          <a href="https://drive.google.com/file/d/1g9IY8k6x_YJfs7FOABKgc2d6Rix9ANuy/view?usp=sharing">Resume</a> |
          <a href="https://github.com/udbhav-s">GitHub</a> |
          <a href="https://www.linkedin.com/in/udbhav-saxena-748160217/">LinkedIn</a>
        </p>
      </div>
    </div>

    <h2>Blog</h2>
    <div>Post coming soon!</div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 3rem;
  }

  .container img {
    border-radius: 50px;
  }

  h2 {
    margin-bottom: 0px;
  }
</style>
