---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Udbhav Saxena">
  <main>
    <h1>Udbhav Saxena</h1>

    <div class="container">
      <div>
        <img src="/assets/images/home/me.jpg" alt="A picture of me (Udbhav)" />
      </div>

      <div class="text">
        <p>
          CS + Math undergrad @ Michigan State University. I like exploring
          cybersecurity, applied cryptography, web development, UX, and data visualization!
        </p>
        <p>
          <div>Links:</div>
          <a
            href="https://drive.google.com/file/d/1g9IY8k6x_YJfs7FOABKgc2d6Rix9ANuy/view?usp=sharing"
            >Resume</a
          > |
          <a href="https://github.com/udbhav-s">GitHub</a> |
          <a href="https://www.linkedin.com/in/udbhav-saxena-748160217/"
            >LinkedIn</a
          >
        </p>
      </div>
    </div>

    <!-- <h2>Blog</h2>
    <div>Post coming soon!</div> -->
    <h2>Pinned 📌</h2>
    <div class="card-list">
      <div>
        <Card
          href="https://thearchivehps.netlify.app/"
          title="The Archive @ HPSB"
          body="Interactive installation at the centenary museum of The Hyderabad Public School, Begumpet"
        />
      </div>
      <div>
        <Card
          href="https://spartancybersecurityclub.github.io/pages/ectf-2025.html"
          title="MITRE eCTF 2025"
          body="Designing a secure Satellite TV PKI with Rust for the 2025 embedded security competition."
        />
      </div>
      <div>
        <Card
          href="https://spartancybersecurityclub.github.io/pages/ectf-2024.html"
          title="MITRE eCTF 2024"
          body="An overview of the 2024 semester-long cybersecurity competition, where we implemented a secure medical device."
        />
      </div>
    </div>

    <h2>DevPost links</h2>
    <p>Hackathon Projects</p>
    <div class="card-list">
      <div>
        <Card
          href="https://devpost.com/software/fluxus-a4bgv1"
          title="Fluxus"
          body="(HackMIT 2023) Tool to iteratively work with healthcare data frames using natural language queries."
        />
      </div>
      <div>
        <Card
          href="https://devpost.com/software/proximitycast"
          title="ProximityCast"
          body="Using cryptography for private proximity detection and broadcasting local events."
        />
      </div>
    </div>

    <h2>Random</h2>
    <div class="card-list">
      <div>
        <Card
          href="https://github.com/udbhav-s/ableton-track-deleter"
          title="Track Deleter Utility for Ableton Live"
          body="Small utility to delete tracks from corrupt project files that cause Ableton to crash"
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 3rem;
  }

  .container img {
    border-radius: 50px;
  }

  h2 {
    margin-bottom: 0px;
  }

  .card-list > * {
    margin-top: 1rem;
  }
</style>
